/* Основные стили страницы */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Современный шрифт */
    margin: 10px; /* Отступы вокруг страницы */
    padding: 10px; /* Отступы внутри */
    background-color: #e9eff2; /* Облегченный фоновый цвет */
}

/* Стили для заголовка первого уровня */
h1 {
    text-align: center; /* Выравнивание текста по центру */
    color: #4a4a4a; /* Более мягкий цвет текста */
    text-decoration: underline; /* Подчеркивание текста */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для формы */
form {
    max-width: 1400px; /* Уменьшенная максимальная ширина формы */
    margin: auto; /* Центрирование формы */
    display: flex; /* Использование flexbox */
    flex-direction: column; /* Вертикальное расположение элементов */
    background: #ffffff; /* Фон формы */
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Легкая тень */
    transition: transform 0.3s, box-shadow 0.3s; /* Плавные переходы */
}
form:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Увеличение тени при наведении */
}

/* Стили для меток формы */
label {
    margin: 10px 0 5px; /* Отступы вокруг меток */
    font-weight: bold; /* Полужирный текст */
}
.hint {
    font-size: 0.9em;
    color: #6c757d; /* Цвет серого текста */
    margin-top: 5px;
}
/* Добавлен отступ между формами */
form {
    margin-bottom: 20px; /* Увеличьте значение для большего отступа */
}
/* Стили для полей ввода и выпадающих списков */
select, input[type="text"], input[type="date"], input[type="number"] {
    padding: 12px; /* Увеличенные отступы внутри полей */
    margin-bottom: 5px; /* Отступ снизу */
    border: 1px solid #ccc; /* Обводка поля */
    border-radius: 5px; /* Закругление углов */
    width: 100%; /* Ширина 100% от родительского элемента */
    box-sizing: border-box; /* Учет отступов и границ в общей ширине */
    transition: border-color 0.3s; /* Плавный переход цвета границы */
}

/* Эффект при фокусе на полях ввода */
select:focus, input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus {
    border-color: #6dab70; /* Изменение цвета границы при фокусе */
}
 .radio-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .radio-group input[type="radio"] {
            display: none;
        }

        .radio-group label {
            display: inline-block;
            background-color: #f0f0f0;
            padding: 10px 20px;
            border-radius: 30px;
            margin: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .radio-group input[type="radio"]:checked + label {
            background-color: #007bff;
            color: white;
        }

        .radio-group label:hover {
            background-color: #d0d0d0;
        }
/* Стили для кнопок */
button {
    padding: 10px; /* Увеличенные отступы внутри кнопки */
    background-color: #6dab70; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без обводки */
    border-radius: 6px; /* Закругление углов */
    cursor: pointer; /* Курсор указателя при наведении */
    width: 100%; /* Ширина 100% */
    margin-bottom: 10px; /* Отступ ниже кнопки */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #4cae4f; /* Более темный цвет фона кнопки при наведении */
}

/* Группировка кнопок */
.button-group {
    display: flex; /* Использование flexbox для кнопок */
    justify-content: space-between; /* Равномерное распределение кнопок */
}

/* Размер кнопок в группах */
.button-group button {
    width: 48%; /* Ширина каждой кнопки */
}

/* Стили для секций */
.section {
    margin: 15px 0; /* Отступы вокруг секций */
}

/* Группировка ввода */
.input-group {
    display: flex; /* Использование flexbox */
    flex-direction: column; /* Вертикальное расположение */
    align-items: flex-start; /* Выравнивание по началу по вертикали */
}

/* Стиль для строки ввода */
.input-row {
    display: flex; /* Использование flexbox для строки */
    justify-content: space-between; /* Равномерное распределение полей */
    width: 100%; /* Ширина 100% */
}

/* Стили для элементов строки ввода */
.input-row > div {
    flex: 1; /* Элементы занимают равную ширину */
    margin-right: 10px; /* Отступ справа */
}

/* Удаление правого отступа у последнего элемента */
.input-row > div:last-child {
    margin-right: 0; /* Без правого отступа */
}

/* Новые стили для контейнера секций */
#sectionsContainer {
    border: 2px dashed #121212; /* Пунктирная граница контейнера */
    padding: 5px; /* Отступы внутри контейнера */
    margin-top: 20px; /* Отступ сверху */
    background-color: #white; /* Цвет фона контейнера */
    display: none; /* Контейнер по умолчанию скрыт */
    border-radius: 10px; /* Закругление углов */
}

/* Стили для контейнера атрибутов */
.attributes-container {
    display: flex; /* Использование flexbox */
    flex-wrap: wrap; /* Перенос элементов на следующую строку */
    gap: 5px; /* Промежуток между элементами */
}

/* Стили для отдельного атрибута */
.attribute {
    flex: 1 1 18%; /* Устанавливаем ширину для каждого элемента */
    box-sizing: border-box; /* Учет отступов и границ в 100% ширины */
}

/* Стили для полей ввода */
input {
    width: 100%; /* Ширина 100% */
    padding: 10px; /* Отступы внутри поля */
    border: 1px solid #ccc; /* Обводка поля */
    border-radius: 4px; /* Закругление углов */
    transition: border-color 0.3s; /* Плавный переход цвета границы */
}

/* Эффект при фокусе на полях ввода */
input:focus {
    border-color: #6dab70; /* Изменение цвета границы при фокусе */
}
