/* Основные стили страницы */
body {
    font-family: Arial, sans-serif; /* Шрифт страницы */
    margin: 20px; /* Отступы вокруг страницы */
    background-color: #d3dbde; /* Фоновый цвет страницы */
}

/* Стили для заголовка первого уровня */
h1 {
    text-align: center; /* Выравнивание текста по центру */
    color: #333; /* Цвет текста */
    text-decoration: underline; /* Подчеркивание текста */
}

/* Стили для формы */
form {
    max-width: 1400px; /* Максимальная ширина формы */
    margin: auto; /* Центрирование формы */
    display: flex; /* Использование flexbox */
    flex-direction: column; /* Вертикальное расположение элементов */
}

/* Стили для меток формы */
label {
    margin: 10px 0 5px; /* Отступы вокруг меток */
}

/* Стили для полей ввода и выпадающих списков */
select, input[type="text"], input[type="date"], input[type="number"] {
    padding: 10px; /* Отступы внутри полей */
    margin-bottom: 15px; /* Отступ снизу */
    border: 1px solid #ccc; /* Обводка поля */
    border-radius: 4px; /* Закругление углов */
    width: 100%; /* Ширина 100% от родительского элемента */
    box-sizing: border-box; /* Учет отступов и границ в общей ширине */
}

/* Стили для кнопок */
button {
    padding: 10px; /* Отступы внутри кнопки */
    background-color: #6dab70; /* Цвет фона кнопки */
    color: black; /* Цвет текста кнопки */
    border: none; /* Без обводки */
    border-radius: 4px; /* Закругление углов */
    cursor: pointer; /* Курсор указателя при наведении */
    width: 100%; /* Ширина 100% */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #45a049; /* Изменение цвета фона кнопки при наведении */
}

/* Группировка кнопок */
.button-group {
    display: flex; /* Использование flexbox для кнопок */
    justify-content: space-between; /* Равномерное распределение кнопок */
}

/* Размер кнопок в группах */
.button-group button {
    width: 48%; /* Ширина каждой кнопки */
}

/* Стили для секций */
.section {
    margin: 10px 0; /* Отступы вокруг секций */
}

/* Стили для полей с границей */
fieldset {
    border: 2px dashed #68adf7; /* Пунктирная граница */
    border-radius: 10px; /* Закругление углов */
    padding: 10px; /* Отступы внутри */
    background-color: #f0f8ff; /* Цвет фона поля */
}

/* Группировка ввода */
.input-group {
    display: flex; /* Использование flexbox */
    flex-direction: column; /* Вертикальное расположение */
    align-items: flex-start; /* Выравнивание по началу по вертикали */
}

/* Стиль для строки ввода */
.input-row {
    display: flex; /* Использование flexbox для строки */
    justify-content: space-between; /* Равномерное распределение полей */
    width: 100%; /* Ширина 100% */
}

/* Стили для элементов строки ввода */
.input-row > div {
    flex: 1; /* Элементы занимают равную ширину */
    margin-right: 10px; /* Отступ справа */
}

/* Удаление правого отступа у последнего элемента */
.input-row > div:last-child {
    margin-right: 0; /* Без правого отступа */
}

/* Новые стили для контейнера секций */
#sectionsContainer {
    border: 2px dashed #121212; /* Пунктирная граница контейнера */
    padding: 10px; /* Отступы внутри контейнера */
    margin-top: 15px; /* Отступ сверху */
    background-color: #f0f8ff; /* Цвет фона контейнера */
    display: none; /* Контейнер по умолчанию скрыт */
}

/* Стили для контейнера атрибутов */
.attributes-container {
    display: flex; /* Использование flexbox */
    flex-wrap: wrap; /* Перенос элементов на следующую строку */
    gap: 10px; /* Промежуток между элементами */
}

/* Стили для отдельного атрибута */
.attribute {
    flex: 1 1 18%; /* Устанавливаем ширину для каждого элемента */
    box-sizing: border-box; /* Учет отступов и границ в 100% ширины */
}

/* Стили для полей ввода */
input {
    width: 100%; /* Ширина 100% */
    padding: 5px; /* Отступы внутри поля */
}
