<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ввод данных</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>
<body>
    <h1>Добавьте новые данные в базу поиска</h1>

    <!-- Форма для ввода данных водителя -->
    <form method="POST" action="/submit-driver-data">
        <h2>Данные водителя</h2>
        <label for="driver_full_name">Полное имя водителя:</label>
        <input type="text" id="driver_full_name" name="driver_full_name">
        <small class="hint">Пример: Иванов Иван Иванович</small>
        <button type="submit">Сохранить данные водителя</button>
    </form>

    <!-- Форма для ввода данных транспорта -->
    <form method="POST" action="/submit-transport-data">
        <h2>Данные транспорта</h2>
        <label for="transport_number">Номер транспорта:</label>
        <input type="text" id="transport_number" name="transport_number">
        <small class="hint">Пример: М789ВЕ93</small>


        <label for="brand">Марка транспорта:</label>
        <input type="text" id="brand" name="brand">
        <small class="hint">Пример: Mercedes-Benz или DAF или Газель</small>
        <button type="submit">Сохранить данные транспорта</button>
    </form>


    <form method="POST">
        <h2>##Данные о прицепах##</h2>
        <label for="numbers">Номер прциепа:</label>
        <input type="text" id="numbers" name="numbers">
        <small class="hint">Пример: ЕЕ5665 26</small>
        <button type="submit">Сохранить данные о прицепе</button>
    </form>


    <form method="POST" action="/submit-laboratory">
        <h2>Данные лаборанта</h2>
        <label for="laboratory">Фамилия и инициалы лаборанта:</label>
        <input type="text" id="laboratory" name="laboratory">
        <small class="hint">Пример: Кузьмин П.А.</small>
        <button type="submit">Сохранить данные водителя</button>
        <div style="text-align: center; margin-top: 10px;">
            <button onclick="window.history.back();">Назад</button>
        </div>
    </form>


        <script>
        $(document).ready(function() {
            // Создаем элемент для уведомлений
            const notification = $('<div id="notification"></div>').css({
                'display': 'none', // Скрываем изначально
                'position': 'absolute',
                'top': '10px',
                'left': '50%',
                'transform': 'translateX(-50%)',
                'background-color': '#e0ffe0',  // Зелёный фон по умолчанию
                'border': '1px solid #4caf50',    // Зелёная рамка
                'padding': '10px',
                'margin': '10px 0',
                'border-radius': '5px',
                'z-index': 1000
            });

            $('body').prepend(notification); // Добавляем его в верхнюю часть страницы

            $('form').on('submit', function(event) {
                // Убираем проверки
                // Отправка формы
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        notification.text(response.message).css({
                            'display': 'block',
                            'background-color': '#e0ffe0',  // Зелёный фон
                            'border': '1px solid #4caf50'    // Зелёная рамка
                        });
                    },
                    error: function() {
                        notification.text('Произошла ошибка при сохранении данных.').css({
                            'display': 'block',
                            'background-color': '#ffe0e0',  // Красный фон
                            'border': '1px solid #f44336'   // Красная рамка
                        });
                    }
                });

                event.preventDefault(); // Отменяем стандартное поведение формы
            });
        });

        </script>
</body>
</html>
